/*font*/


/*navbar*/

.navbar {
    background: #0C0C0C;
    padding: 0rem 0rem;
}

.navbar .navbar-brand {
    font-size: 1.6rem;
    font-weight: 700;
}

#navbarSupportedContent>ul>li:nth-child(n)>a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem;
}

#navbarSupportedContent>ul>li:nth-child(n)>a:hover {
    color: #99EFD0;
}

.navbar .btn {
    border-radius: 10px;
    padding: 0.4rem 2rem;
}

.navbar .btnsignup {
    background: #99EFD0;
}

.navbar a:hover .btn {
    background: #8476AA;
}


/*hero*/

.hero {
    padding: 12rem 0rem;
    background: #0C0C0C;
}

.hero h1 {
    color: #99EFD0;
}

.hero p {
    color: #8476AA;
}

.hero .container .btn {
    border-radius: 10px;
    padding: 0.4rem 1rem;
}

.hero .container a:hover .btn {
    background: #8476AA;
}


/*bussines partner*/

.bussinespartner {
    background: #0C0C0C;
    padding-bottom: 8rem;
}


/*Our Services*/

.ourservices {
    padding: 8rem 0rem;
    background-image: linear-gradient( to bottom, #fff, #99EFD0);
    color: #8476AA;
}

.ourservices .row {
    padding-bottom: 2rem;
}


/*create your project*/

.createproject {
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.createproject2 {
    padding-bottom: 8rem;
}

.createproject h2 {
    font-weight: 700;
}