/*font*/

h1,
h2,
h5 {
    color: #99EFD0;
}

p {
    color: #8476AA;
}


/*navbar*/

.navbar {
    background: #0C0C0C;
    padding: 0rem 4rem;
}

.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent>ul>li:nth-child(n)>a {
    color: #fff;
    font-size: 1.1rem;
    padding: 0.8rem 1.2rem;
}

#navbarSupportedContent>ul>li:nth-child(n)>a:hover {
    color: #99EFD0;
}

.navbar .btn {
    border-radius: 10px;
    padding: 0.4rem 2rem;
}

.navbar .btnsignup {
    background: #99EFD0;
}

.navbar a:hover .btn {
    background: #8476AA;
}


/*section1*/

.container1 {
    padding: 8rem 4rem;
    background: #0C0C0C;
}

.container .container1 .btn {
    border-radius: 10px;
    padding: 0.4rem 1rem;
}

.container .container1 a:hover .btn {
    background: #8476AA;
}


/*bussines partner*/

.bussinespartner {
    background: #0C0C0C;
    padding-bottom: 8rem;
}


/*Our Services*/

.ourservices {
    padding: 8rem;
    background-image: linear-gradient( to bottom right, #74b19a, #99EFD0)
}


/*create your project*/

.createproject {
    padding-bottom: 8rem;
}